// 颜色
$color-balck: #000000;
$color-white: #FFFFFF;
$color-balck-opacity-1: rgba(0, 0, 0, 0.2);
$color-white-opacity-1: rgba(255, 255, 255, 0.3);
$color-white-opacity-2: rgba(255, 255, 255, 0.6);
$color-danger: #F56C6C;

// 边框相关
$border-no-radius: 0px;
$border-small-radius: 2px;
$border-large-radius: 4px;
$border-round-radius: 20px;

// 字体大小
$font-size-default: 14px;
$font-size-10: 10px;
